SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# FTDI
LOCATE COMP "usb_rxd" SITE "K15";
IOBUF PORT "usb_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "usb_txd" SITE "K16";
IOBUF PORT "usb_txd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "usb_rts" SITE "L16";
IOBUF PORT "usb_rts" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;
LOCATE COMP "usb_dtr" SITE "L15";
IOBUF PORT "usb_dtr" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=UP;

# Clock
LOCATE COMP "clk" SITE "M2";
IOBUF PORT "ftdi_txd" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk" 50 MHZ;

# IDK
